* {
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #56CCF2;
}

#navbar {
    background-color: #56CCF2;
    position: sticky;
    top: 0;
}

#navbar_options { 
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: rgb(0, 0, 0) solid 2px;
    height: 100px;
    justify-content: space-around;
}

#navbar_title {
    text-decoration: none;
    font-style: italic;
    padding-top: 5px;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

li {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Arial";
}

.bar a {
    display: flex;
    text-decoration: none;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    height: 100px;
    color: white;
}

.bar a:hover {
    /* opacity: 0.5; */
    border-top: 4px solid #FDB927;
}

#mainsection {
    margin: 5px;
    padding: 5px;
}

#kinectlogo h1 {
    text-align: center;
    padding: 30px;
}

#logo {
    width: 700px;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

#slogan h1{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: bolder;
}

#motto {
    text-shadow: 4px 4px grey;
    font-weight: 200;
    text-align: center;
    font-size: 80px;
}

#features {
    font-size: 55px;
}

#slogan li{
    color:white;
    font-family:'Raleway', sans-serif;
    text-transform: none;
    font-size: 30px;
}

#bullets{
    text-align: center;
    list-style-position: inside;
}

#opportunities {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 60px;
}


.opportunity {
    padding: 20px;
    background-color: #FDB927;
    border-radius: 15px;
    margin: 20px;
}

#headertext {
    font-size:40px;
}

.opportunity p{
    font-size: 23px;
}

.image {
    height: 400px;
    width: 600px;
}