* {
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #56CCF2;
}

#navbar {
    background-color: #56CCF2;
    position: sticky;
    top: 0;
}

#navbar_options { 
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: rgb(0, 0, 0) solid 2px;
    height: 100px;
    justify-content: space-around;
}

#navbar_title {
    text-decoration: none;
    font-style: italic;
    padding-top: 5px;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 2px black;
}

li {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Arial";
}

.bar a {
    display: flex;
    text-decoration: none;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 30px;
    height: 100px;
    color: white;
}

.bar a:hover {
    /* opacity: 0.5; */
    border-top: 4px solid #FDB927;
}

#mainsection {
    margin: 5px;
    padding: 5px;
}

#welcometext h1 {
    text-shadow: 4px 4px grey;
    font-weight: 200;
    text-align: center;
    font-size: 80px;
}

#section {
  text-align: center;
  background-color: #FDB927;
  border: #FDB927 solid 2.5px;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 40px;
}

.header {
    text-align: center;
    font-size: 43px;
}

.maintext {
  font-size: 23px;
}

#funfact h1{
  font-size: 43px;
}

#funfact p{
  font-size: 23px;
}

#font {
  font-size: 23px;
}

#funfact {
    text-align: center;
    background-color: #FDB927;
    border: #FDB927 solid 2.5px;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
}

#bigsection {
    margin-bottom: 40px;

}

#bigsection li {
    font-size: 20px;
}

#photogallery{
    display: flex;
    justify-content: space-evenly;
}

.innergallery {
  font-weight: bold;
  font-size: 30px;
}

#galleryOne{
    flex-direction: row;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #f6f7f9;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #f6f7f9;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }

  .row {
    margin: auto;
    width: 50%;
    border: 3px solid #FDB927;
    padding: 10px;
    background-color: #FDB927;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .submitBtn {
    background-color: white;
    color: black;
    border: 2px solid;
    padding: 20px;
    margin: 20px;
    justify-content: center;
  }
    
  .submitBtn:hover {
    background-color: #FDB927;
  }

  .imagesText {
    text-align: center;
    justify-content: center;
  }

  #image1{
    width: 300px;
    height: 300px;
    background-image: url(/images/justin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
    text-align: center;
    border: 3px solid black;
    color: #f6f7f9;
  }

  #image3{
    width: 300px;
    height: 300px;
    background-image: url(/images/herbert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
    text-align: center;
    border: 3px solid black;
    color: #f6f7f9;
  }

  #homelogo {
    text-decoration: none;
    font-style: italic;
    padding-top: 2px;
    font-size: 80px;
    font-weight: 700;
    text-shadow: 2px 2px black;
}
#communityTab{
  color:gray;
}




